[Desktop Entry]
Name=GVidm
Comment=Application to quickly and easily change video resolutions in X
Comment[pl]=Aplikacja do szybkiej i łatwej zmiany rozdzielczości pod X
Exec=gvidm
Icon=gvidm
Terminal=false
Categories=GTK;Settings;
Type=Application
# vi: encoding=utf-8
